.h1
{

    font-family:  Arial;
   font-size : 18;
    weight: bold;   
    color: Blue;

}

#button
{

    color: teal;
    padding: 15px 32px;
    text-align: center;
    background-color: lightblue;
    
}

#button1
{
    color: teal;
    padding: 15px 32px;
    text-align: center;
    background-color: lightblue;

}